/*************************
Base Styles
*************************/

* {
  box-sizing: border-box;
}

body {
  font-family: "merriweather", serif;
  line-height: 1.4;
  font-size: .875rem;
}

form {
  margin-top: 3px;
  border-top: black solid 2px;
}

h1,
legend {
  font-size: 1.14rem;
  margin: 10px 0;
}

legend,
textarea,
button {
  width: 100%;
}

legend {
  font-weight: bold;
  padding: 1.3em 0 .5em;
}

fieldset {
  padding: 0;
}

label {
  display: inline-block;
  padding: 1.1em 0;
}

fieldset,
input,
select,
textarea {
  border: none;
}

input,
select,
textarea {
  outline-color: transparent;
  padding: 1.1em;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: hsl(180, 50%, 50%);
  transition: outline-color .4s ease-in;
}

input::placeholder {
  font-style: italic;
  text-align: right;
  font-size: .7rem;
}

select:invalid {
  color: grey;
}

option {
  color: black;
}

button {
  color: white;
  font-size: 1.15rem;
  background-color: hsl(180, 50%, 50%);
  padding: 1.15em;
  border-style: none;
  border-radius: 5px;
  margin: 1.5em 0;
}

button:hover {
  cursor: pointer;
  background-color: hsl(120, 50%, 50%);
}

/*************************
Layout Styles
*************************/

header,
.contact-info,
footer {
  display: flex;
}

header,
footer {
  justify-content: center;
}

header {
  background-color: black;
  color: white;
}

main {
  max-width: 675px;
  margin: 0 5%;
}

.intro {
  text-align: center;
  padding: 1em 0;
  border-bottom: black solid 4px;
}

.contact-info {
  flex-direction: column;
  padding: 0 0 2.2em 0;
  border-bottom: black solid 2px;
}

.newsletter-options,
.newsletter-options legend {
  background-color: lightgrey;
}

footer {
  font-size: .825rem;
  height: 6em;
}

/*************************
Module Styles
*************************/

header span {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.25em;
}

.intro p {
  color: hsl(0, 0%, 50%);
  margin: 10px 0;
}

.zip-code {
  width: 50%;
}

.newsletter-options p {
  line-height: 1.8;
}

.newsletter-options legend {
  padding-bottom: 0;
}

.newsletter-options label:not(.other-topics){
  padding-top: 0;
  margin-left: .75em;
}

.copyright {
  color: hsl(0, 0%, 50%);
  font-style: italic;
}

/*************************
Media Queries
*************************/

@media (min-width: 768px) {
  legend {
    padding-top: 2.5em;
  }

  main {
    margin: 0 auto;
  }

  .contact-info {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-info label,
  .contact-info .zip-code {
    width: 25%;
  }
  .contact-info input,
  select {
    width: 75%;
  }

  .contact-info label,
  .contact-info input,
  select {
    margin: 11px 0;
  }

  .newsletter-options legend {
    padding-bottom: .5em;
  }
}