/* Base Rules */

* {
  box-sizing: border-box;
}

body {
  font-family: "merriweather", serif;
  line-height: 1.4;
  font-size: .875rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  color: white;
}

header span {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.25em;
}

main {
  margin: 0 5%;
}

.intro {
  text-align: center;
  padding: 1em 0;
  border-bottom: black solid 4px;
}

h1 {
  font-size: 1.14rem;
  margin: 10px 0;
}

.intro p {
  color: hsl(0, 0%, 50%);
  margin: 10px 0;
}

form {
  margin-top: 3px;
  border-top: black solid 2px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 25px 0;
}

legend {
  font-size: 1.14rem;
  font-weight: bold;
}

.contact-info {
  display: flex;
  flex-direction: column;

  padding: 0 0 2.2em 0;
  border-bottom: black solid 2px;
}

label {
  display: inline-block;
  padding: 1em 0;
}

input,
select,
textarea {
  border: none;
}

input,
select {
  padding: 1.1em;
}

input::placeholder {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

select:invalid {
  color: grey;
}

option {
  color: black;
}

.zip-code {
  width: 50%;
}

.newsletter-options label{
  padding-top: 0;
}

label[for="other-topics"] {
  padding-top: 1em;
}

textarea {
  width: 100%;
}